################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/ProjectEvaluation
/.vs/PdfWatermark
/obj/Debug/net6.0-windows/PdfWatermark.AssemblyInfo.cs
/obj/Debug/net6.0-windows/PdfWatermark.AssemblyInfoInputs.cache
/obj/Debug/net6.0-windows/PdfWatermark.csproj.FileListAbsolute.txt
/obj/Debug/net6.0-windows/PdfWatermark.sourcelink.json
/bin/Debug/net6.0-windows
/obj/Debug/net6.0-windows
